@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
